p{
  color: red;
  text-align: center;
}

.myForm{

  display: flex !important;
  justify-content: space-evenly;
}

.loader-container{

  display: flex ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: gray;

}

/*css for loader*/
.loader {
  border: 2px solid #FFF;
  width: 48px;
  height: 48px;
  background: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  border: 24px solid;
  border-color: transparent #FFF;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-header{

  font-size: 20px;
  color: white;
  font-weight: 200;
}


.btn-primary{
  background-color: #FF3D00 !important;
}



/*for page loader*/
/* HTML: <div class="loader"></div> */

.pageLoaderContainer{

  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;


}
.pageLoader {
  height: 4px;
  width: 130px;
  --c:no-repeat linear-gradient(#FF3D00 0 0);
  background: var(--c),var(--c),#d7b8fc;
  background-size: 60% 100%;
  animation: l16 3s infinite
}

@keyframes l16 {
  0%   {background-position:-150% 0,-150% 0}
  66%  {background-position: 250% 0,-150% 0}
  100% {background-position: 250% 0, 250% 0}
}